<html lang="en">
<head>
    <title>Technerds</title>
    <meta charset="utf-8">
    <meta name="author" content="Թիմայի">
    <meta name="Բնապահպանություն" content="Այստեղ կարող եք ծանոթանալ թափոնների մշակման,տեսակների հետ">
    <meta name="keywords" content="ապակի,թուղթ,պլաստիկ,էկոլոգիա">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="../Content/CustomStyles/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link href="../Content/CustomStyles/library.css" rel="stylesheet" />
</head>

<body>
    <!--collapsible Navbar: Navigate to other pages of web site -->
    <nav class="navbar navbar-expand-md sticky-top">
        <img src="../Content/Images/logo.jfif" alt="Էկոլոգիա" style="width:5%">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Գլխավոր</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="companies.html">Ընկերություններ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery.html">Նյութեր</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="game.html">Խաղ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="feedback.html">Հետադարձ կապ</a>
                </li>
            </ul>
        </div>

        <div class="icono">
            <input type="text" name="Search" placeholder="Փնտրել">
            <a href="#" input="" type="text" name="Փնտրել" placeholder="Փնտրել" style="background-color: aquamarine;"></a>&nbsp;
            <a href="#" class=" btn border-btn">Մուտք</a>
        </div>

    </nav>

    <br>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <article id="post-1547" class="post-1547 post type-post status-publish format-standard has-post-thumbnail hentry category-biological category-home-page-right">
                    <!--        <div class="book-author">Կ.Վ. Գրիգորյան, Ա.Հ. Եսայան, Հ.Գ. Ժամհարյան, Ա.Վ. Խոյեցյան, Հ.Ս. Մովսեսյան, Գ.Պ. Փիրումյան</div>-->
                    <div class="post-thumbnail">
                        <a href="http://ijevanlib.ysu.am/wp-content/uploads/2017/12/ekologia.pdf">
                            <img width="270" height="387" src="http://ijevanlib.ysu.am/wp-content/uploads/2017/12/vbcvbcbvcvbcvb-270x387.jpg" class="img-fluid wp-post-image" alt="" srcset="http://ijevanlib.ysu.am/wp-content/uploads/2017/12/vbcvbcbvcvbcvb-270x387.jpg 270w, http://ijevanlib.ysu.am/wp-content/uploads/2017/12/vbcvbcbvcvbcvb-150x215.jpg 150w" sizes="(max-width: 767px) 89vw, (max-width: 1000px) 54vw, (max-width: 1071px) 543px, 580px">
                        </a>
                    </div><!-- .post-thumbnail -->


                    <header class="entry-header">
                        <div class="entry-meta"><span class="screen-reader-text">Posted on</span> <a href="http://ijevanlib.ysu.am/ekologiayi_ev_bnutyan_pahpanutyan_himunqner/" rel="bookmark"><time class="entry-date published" datetime="2017-12-22T05:12:49+00:00">December 22, 2017</time><time class="updated" datetime="2018-03-26T07:20:29+00:00">March 26, 2018</time></a></div><!-- .entry-meta --><span class="entry-title"><a href="http://ijevanlib.ysu.am/ekologiayi_ev_bnutyan_pahpanutyan_himunqner/" rel="bookmark">Էկոլոգիայի և բնության պահպանության հիմունքներ</a></span>
                    </header><!-- .entry-header -->

                </article><!-- #post-## -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <article id="post-517" class="post-517 post type-post status-publish format-standard has-post-thumbnail hentry category-biological category-home-page-right">
                    <!--        <div class="book-author">ՀԱՅՐԱՊԵՏՅԱՆ Է., ՇԻՐԻՆՅԱՆ Ս.</div>-->
                    <div class="post-thumbnail">
                        <a href="http://ijevanlib.ysu.am/wp-content/uploads/2017/12/akroekologia.pdf">
                            <img width="270" height="387" src="http://ijevanlib.ysu.am/wp-content/uploads/2017/12/agroekologia-270x387.jpg" class="img-fluid wp-post-image" alt="" srcset="http://ijevanlib.ysu.am/wp-content/uploads/2017/12/agroekologia-270x387.jpg 270w, http://ijevanlib.ysu.am/wp-content/uploads/2017/12/agroekologia-150x215.jpg 150w" sizes="(max-width: 767px) 89vw, (max-width: 1000px) 54vw, (max-width: 1071px) 543px, 580px">
                        </a>
                    </div><!-- .post-thumbnail -->


                    <header class="entry-header">
                        <div class="entry-meta"><span class="screen-reader-text">Posted on</span> <a href="http://ijevanlib.ysu.am/agroekologia/" rel="bookmark"><time class="entry-date published" datetime="2017-12-04T07:02:42+00:00">December 4, 2017</time><time class="updated" datetime="2018-01-20T06:16:39+00:00">January 20, 2018</time></a></div><!-- .entry-meta --><span class="entry-title"><a href="http://ijevanlib.ysu.am/agroekologia/" rel="bookmark">Ագրոէկոլոգիա</a></span>
                    </header><!-- .entry-header -->

                </article><!-- #post-## -->
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6">
                <article id="post-2736" class="post-2736 post type-post status-publish format-standard has-post-thumbnail hentry category-biological category-home-page-right">
                    <!--        <div class="book-author">Է. Մ. Հայրապետյան, Լ. Վ. Հարությունյան,  Վ. Ս. Հարությունյան, Ժ. Հ. Վարդանյան </div>-->
                    <div class="post-thumbnail">
                        <a href="http://ijevanlib.ysu.am/wp-content/uploads/2018/02/shrjaka.pdf">
                            <img width="270" height="387" src="http://ijevanlib.ysu.am/wp-content/uploads/2018/02/fgjhfgjghjgh-270x387.jpg" class="img-fluid wp-post-image" alt="" srcset="http://ijevanlib.ysu.am/wp-content/uploads/2018/02/fgjhfgjghjgh-270x387.jpg 270w, http://ijevanlib.ysu.am/wp-content/uploads/2018/02/fgjhfgjghjgh-150x215.jpg 150w" sizes="(max-width: 767px) 89vw, (max-width: 1000px) 54vw, (max-width: 1071px) 543px, 580px">
                        </a>
                    </div><!-- .post-thumbnail -->


                    <header class="entry-header">
                        <div class="entry-meta"><span class="screen-reader-text">Posted on</span> <a href="http://ijevanlib.ysu.am/shrjaka_mijavayri_pahpanutyun/" rel="bookmark"><time class="entry-date published" datetime="2018-02-03T09:36:18+00:00">February 3, 2018</time><time class="updated" datetime="2018-03-26T07:10:50+00:00">March 26, 2018</time></a></div><!-- .entry-meta --><span class="entry-title"><a href="http://ijevanlib.ysu.am/shrjaka_mijavayri_pahpanutyun/" rel="bookmark">Շրջակա միջավայրի պահպանություն</a></span>
                    </header><!-- .entry-header -->

                </article><!-- #post-## -->
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <article id="post-4038" class="post-4038 post type-post status-publish format-standard has-post-thumbnail hentry category-biological category-home-page-right">
                    <!--        <div class="book-author">Գևորգյան Ս.</div>-->
                    <div class="post-thumbnail">
                        <a href="http://ijevanlib.ysu.am/wp-content/uploads/2018/03/Gevorgyan.pdf">
                            <img width="270" height="387" src="http://ijevanlib.ysu.am/wp-content/uploads/2018/03/hgfhgffhjgj-270x387.jpg" class="img-fluid wp-post-image" alt="" srcset="http://ijevanlib.ysu.am/wp-content/uploads/2018/03/hgfhgffhjgj-270x387.jpg 270w, http://ijevanlib.ysu.am/wp-content/uploads/2018/03/hgfhgffhjgj-150x215.jpg 150w" sizes="(max-width: 767px) 89vw, (max-width: 1000px) 54vw, (max-width: 1071px) 543px, 580px">
                        </a>
                    </div><!-- .post-thumbnail -->


                    <header class="entry-header">
                        <div class="entry-meta"><span class="screen-reader-text">Posted on</span> <a href="http://ijevanlib.ysu.am/ekologiakan_anvtangutyan_himunqnery_hh_um/" rel="bookmark"><time class="entry-date published" datetime="2018-03-23T06:26:06+00:00">March 23, 2018</time><time class="updated" datetime="2018-03-23T06:26:56+00:00">March 23, 2018</time></a></div><!-- .entry-meta --><h2 class="entry-title"><a href="http://ijevanlib.ysu.am/ekologiakan_anvtangutyan_himunqnery_hh_um/" rel="bookmark">Էկոլոգիական անվտանգության հիմնախնդիրները ՀՀ-ում</a></h2>
                    </header><!-- .entry-header -->

                </article><!-- #post-## -->
            </div>
            
           </div>
    </div>


    <br>

    <!--Footer of page-->
    <footer style="background-color:hsl(103, 26%, 56%)">
        <div class="container-fluid">
            <div class="row ">
                <div class=" col-3">
                    <a class="menu2">Աշխատանքային ժամեր</a> <br>
                    <a class="menu2">Հասցե</a> <br>
                    <a class="menu2" href="contact.html">Հեռախոսահամար</a> <br>
                    <a class="menu2" href="contact.html">Էլ․փոստ</a>
                </div>

                <div class=" col-3">
                    <a class="menu2" href="contact.html">Մեր մասին</a> <br>
                    <a class="menu2" href="contact.html">Մուտք</a> <br>
                    <a class="menu2" href="contact.html">Հետադարձ կապ</a>
                </div>

                <div class=" col-sm-3">
                    <a class="menu2" href="contact.html">Կանոններ</a> <br>
                    <a class="menu2" href="contact.html">Ընկերություններ</a> <br>
                    <a class="menu2" href="contact.html">Privecy Policy</a>
                </div>

                <div class=" col-sm-3 logo">

                    <div style="float:right;" class="d-none d-sm-block">
                        <div class="icono">
                            <i class="fab whatts fa-whatsapp "></i>&nbsp;
                            <i class="fab facebook fa-facebook "></i>&nbsp;
                            <i class="fab fa-instagram "></i>
                        </div>

                        <div class="menu2"><strong>Կազմեց:Technerds-2021</strong> </div>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" language="javascript"></script>



</body>
</html>