<!DOCTYPE html>
<html lang="en">

<head>
    <title>Technerds</title>
    <meta charset="utf-8">
    <meta name="author" content="Թիմայի" />
    <meta name="Բնապահպանություն" content="Այստեղ կարող եք ծանոթանալ թափոնների մշակման,տեսակների հետ" />
    <meta name="keywords" content="ապակի,թուղթ,պլաստիկ,էկոլոգիա" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="../Content/CustomStyles/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link href="../Content/CustomStyles/style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top">
        <img src="../Content/Images/logo.jfif" alt="Էկոլոգիա" style="width:5%">

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Գլխավոր</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="companies.html">Ընկերություններ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery.html">Նյութեր</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="game.html">Խաղ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="feedback.html">Հետադարձ կապ</a>
                </li>
            </ul>
        </div>

        <div class="icono">
            <input type="text" name="Search" placeholder="Փնտրել">
            <a href="#" input type="text" name="Փնտրել" placeholder="Փնտրել" style="background-color: aquamarine;"></a>&nbsp;
            <a href="#" class=" btn border-btn">Մուտք</a>
        </div>

    </nav><br><br>

   
              <div class="content">


                  <a href="../Game/Garbage collector5.exe">
                      <img src="../Content/Images/Capture_2021_11_15_19_09_41_2.png" />
                  </a>
              </div>

    <footer style="background-color:hsl(103, 26%, 56%)">
        <div class="container-fluid">
            <div class="row ">
                <div class=" col-3">
                    <a class="menu2">Աշխատանքային ժամեր</a> <br>
                    <a class="menu2">Հասցե</a> <br>
                    <a class="menu2" href="contact.html">Հեռախոսահամար</a> <br>
                    <a class="menu2" href="contact.html">Էլ․փոստ</a>
                </div>

                <div class=" col-3">
                    <a class="menu2" href="contact.html">Մեր մասին</a> <br>
                    <a class="menu2" href="contact.html">Մուտք</a> <br>
                    <a class="menu2" href="contact.html">Հետադարձ կապ</a>
                </div>

                <div class=" col-sm-3">
                    <a class="menu2" href="contact.html">Կանոններ</a> <br>
                    <a class="menu2" href="contact.html">Ընկերություններ</a> <br>
                    <a class="menu2" href="contact.html">Privecy Policy</a>
                </div>

                <div class=" col-sm-3 logo">

                    <div style="float:right;" class="d-none d-sm-block">
                        <div class="icono">
                            <i class="fab whatts fa-whatsapp "></i>&nbsp;
                            <i class="fab facebook fa-facebook "></i>&nbsp;
                            <i class="fab fa-instagram "></i>
                        </div>

                        <div class="menu2"><strong>Կազմեց:Technerds-2021</strong> </div>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" language="javascript"></script>

</body>
</html>
