<!DOCTYPE html>
<html lang="en">

<head>
    <title>Technerds</title>
    <meta charset="utf-8">
    <meta name="author" content="Թիմայի" />
    <meta name="Բնապահպանություն" content="Այստեղ կարող եք ծանոթանալ թափոնների մշակման,տեսակների հետ" />
    <meta name="keywords" content="ապակի,թուղթ,պլաստիկ,էկոլոգիա" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="../Content/CustomStyles/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body>
    <!--nav class="navbar navbar-expand-md sticky-top"-->
    <nav class="navbar">

        <img id="logo" src="../Content/Images/logo.jfif" alt="Էկոլոգիա" style="width:5%">

        <div class="humburger">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="menu-area">
            <ul>
                <li><a href="index.html">Գլխավոր</a></li>
                <li><a href="companies.html">Ընկերություններ</a></li>
                <li>
                    <b>Նյութեր</b>
                    <div class="dropdown">
                        <ul class="dropdown">
                            <li><a href="books.html">Գրքեր</a></li>
                            <li><a href="videos.html">Տեսանյութեր</a></li>
                            <li><a href="articles.html">Հոդվածներ</a></li>
                        </ul>
                    </div>

                </li>
                <li><a href="game.html">Խաղ</a></li>
                <li><a href="feedback.html">Հետադարձ կապ</a></li>
            </ul>
        </div>

        <div class="search-cl">
            <input type="text" name="Search" placeholder="Փնտրել">
            <a href="#" input type="text" name="Փնտրել" placeholder="Փնտրել" style="background-color: aquamarine;"></a>&nbsp;
            <a href="#" class=" btn border-btn">Մուտք</a>
        </div>


        <!--<div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="menu-area">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Գլխավոր</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="companies.html">Ընկերություններ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="...">Նյութեր</a>
                        <ul class="materials-drop-down">
                            <li>
                                <a class="nav-link" href="companies.html">Գրքեր</a>
                            </li>

                            <li>
                                <a class="nav-link" href="companies.html">Տեսանյութեր</a>
                            </li>

                            <li>
                                <a class="nav-link" href="companies.html">Հոդվածներ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="game.html">Խաղ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="feedback.html">Հետադարձ կապ</a>
                    </li>
                </ul>
            </div>

        </div>-->


    </nav><br><br>

    <section id=servicios>

        <h2 id="menu">ՆԵՐԱԾՈՒԹՅՈՒՆ</h2><br><hr>


        <div class="container-fluid">
            <h3 class="armenia">Շրջակա միջավայրի պահպանություն </h3><br>

            <div class="row menu">

                <div class=" col-sm-5 ">
                    <img src="../Content/Images/foto1.jfif" alt="ՀԱՅԱՍՏԱՆ" style="width:100%">
                </div>

                <div class=" col-sm-5 " style="margin-left:25px;">
                    <p>
                        Աղտոտում, բնական միջավայրի, մարդկանց, բուսական և կենդանական աշխարհի վրա աղտոտիչների վնասակար ազդեցությունը։ Տարբեր ու բազմազան են աղտոտման տեսակները, քիմիական միացությունների և խառնուրդների արտանետումները մթնոլորտ, արտադրական և կոմունալ-կենցաղային թափոնների թափանցումը ջրային միջավայր, լանդշաֆտների (դաշտեր, մարգագետիններ, անտառներ) աղտոտումը, իոնացնող ճառագայթման, արտադրական և կենցաղային աղմուկի մակարդակի բարձրացումը և ջերմության կուտակումը մթնոլորտում։
                    </p>
                </div>

            </div>

            <div style="clear:both"></div>

        </div>

    </section><br><br>

    <section1 id="historia">
        <hr>

        <div class="container-fluid">
            <div class="row ">
                <div class=" col-sm-6 ">

                    <h1 class="armenia">Նորություններ</h1><br>

                    <div class="container-fluid">
                        <div class="row ">
                            <div class=" col-sm-6 ">
                                <img src="../Content/Images/foto2.jfif" alt="ՀԱՅԱՍՏԱՆ" style="width:100%">

                                <p>
                                    Աղտոտումը սպառնում է մարդու առողջությանը, բույսերի և կենդանիների տեսակային բազմազանությանը և հանգեցնում շրջակա միջավայրի վատթարացման։ Չհարմարվելով շրջակա միջավայրի փոփոխություններին՝ կենդանի օրգանիզմը ձեռք է բերում հիվանդություններ, բնական աղետների ժամանակ մարդը ենթարկվում է հոգեկան ուժեղ ցնցումների, տվյալ բնակտարածքում՝ հողում կամ ջրում, մարդու օրգանիզմի նյութափոխանակության համար անհրաժեշտ միկրոտարրերի պակասից առաջանում են մի շարք հիվանդություններ, օրինակ՝ ջրում ֆտորի պակասը առաջացնում է ատամների ոսկրափուտ, իսկ յոդինը՝ տեղաճաչաքային խպիպ։
                                </p>

                            </div>

                            <div class=" col-sm-6 ">
                                <img src="../Content/Images/foto3.jfif" alt="ՀԱՅԱՍՏԱՆ" style="width:100%">

                                <p>
                                    Աղտոտման դեմ պայքարի հիմնական միջոցը չաղտոտելն է։ Աղտոտումը ներառում է բազմազան գործոններ՝ կապված աղտոտման բազմաթիվ աղբյուրների հետ, որոնց դեմ հնարավոր չէ պայքարել մեկ պարզ եղանակով։ Յուրաքանչյուր կոնկրետ դեպքում պետք է որոշել հիմնախնդիրն առաջացնող աղտոտիչը, մշակել և ներդնել հսկողության ընդունելի ռազմավարություն։ Աղտոտման դեմ պայքարը աղտոտիչների բացասական ազդեցությունից բույսերի, կենդանիների, մարդկանց և նյութական արժեքների պահպանման միջոցառումների համակարգ է, որն իրականացվում է էկոլոգիական փորձաքննությամբ և շրջակա միջավայրի աղտոտման վիճակի գնահատմամբ։
                                </p>

                            </div>
                        </div>
                    </div>

                </div>

                <div class=" col-sm-6 ">
                    <h1 class="armenia">Հաճախ տրվող հարցեր</h1><br>

                    <button class="accordion">Թուղթ</button>
                    <div class="panel">
                        <p>
                            Թուղթը բուսական թելերից մշակված և միահյուսված բարակ թերթանման նյութ է, որի թելերը միմյանց կապվում են կառչման մակերևույթային ուժերով։
                            Թղթի արտադրության համար օգտագործում են տարբեր փայտանյութերի և միամյա բույսերի թաղանթանյութը և փայտազանգվածը։ Այն բաղկացած է մի շարք պրոցեսներից՝ թղթազանգվածի պատրաստում (ստացվում է թելավոր նյութերի քիմիական և մեխանիկական մշակմամբ՝ բաղադրամասերի մանրում և խառնում, սոսնձում, զանգվածի լցում և գունավորում), մշակում թղթի պատրաստման մեքենայի վրա (ջրով նոսրացում, զանգվածի մաքրում կեղտից, դատարկում, մամլում և չորացում), վերամշակում (կալանդրում, կտրում), տեսակավորում և փաթթոցում։
                        </p>
                    </div><br><br>

                    <button class="accordion">Պլաստիկ</button>
                    <div class="panel">
                        <p>
                            հուշարձանների թիվը լեռնաշխարհի սահմաններում դեռևս չի անցնում 35-ից, որոնք ինչպես բացօթյա կայաններ ու հնավայրեր են, այնպես էլ քարայր կացարաններ ու ժայռածածկեր։ Այժմյան Հայաստանի տարածքում այս փուլի հուշարձաններ կան Ապարանի գոգավորությունում։
                        </p>
                    </div><br><br>

                    <button class="accordion">Ապակի</button>
                    <div class="panel">
                        <p>
                            ընթացքում՝ մ. թ. ա. 8 հազարամյակի վերջերից, արդեն գոյություն ունեին կայացած երկրագործական հասարակություններ։ 1990-ական թվականների առաջին կեսին Սասնո ջուր գետի արևմտյան ափին պեղված հնավայրի տվյալները եկան փաստելու, որ այստեղ կայուն բնակատեղիներ հիմնող առաջին համայնքները հանդես են գալիս արդեն մ. թ. ա. X հազարամյակից։ Ուսումնասիրությունների արդյունքում ակնհայտ դարձավ, որ Հայկական Տավրոսից հյուսիս ընկած շրջանների նոր քարի դարի մշակույթը տեղական արմատներ ունի։ Եդեսիայի մոտ գտնվող Պորտաբլուր հնավայրի արևելյան հատվածի վաղ շերտերում բացվել է 1000 քառ. մետր տարածք զբաղեցնող մի հրապարակ, որի հարևանությամբ պեղվել են այսպես կոչված «սալե կոթողների տունը» և «գանգերի տունը»: Այս հասարակության կյանքում մեծ տեղ են զբաղեցրել հավատալիքներն ու ծեսերը, որոնք գերազանցապես կապված էին նախնիների պաշտամունքի և ցլի պաշտամունքի հետ։ Պորտաբլուրում բացվել են Երկիր մոլորակի վրա մինչ օրս հայտնի ամենահին տաճարները։ Այստեղ հայտնաբերվել են մոտ 700 քարե արձանիկներ։
                        </p>
                    </div><br><br>

                    <button class="accordion">Հումուս</button>
                    <div class="panel">
                        <p>
                            Մ. թ. ա. V հազարամյակի կեսերին և IV հազարամյակի ընթացքում Հայկական լեռնաշխարհի ցեղերը թևակոխել են պղնձի-քարի դար (էնեոլիթ), որին հաջորդում է բրոնզի դարը (մ. թ. ա. III–II հազարամյակներ)։ Լեռնաշխարհը ներկայանում է զարգացման նույն մակարդակի վրա գտնվող և համասեռ մշակույթով հասարակությամբ, որը շուրջ հազար տարի պահպանում է մշակութային միասնությունը։ Տարածում է գտնում Կուր-Արաքսյան մշակույթը. հայտնի է Շենգավիթյան մշակութային համալիրը Երևանի հարավարևմտյան մասում։ Մ.թ.ա. III հազարամյակի վերջին երկու հարյուրամյակներում արմատավորվում են, այսպես կոչված, Թռեխք-Վանաձորյան մշակութային համալիրները։ Դրանք ներկայացված են բացառապես դամբարաններով, իսկ մեծաքանակ բնակատեղիներ չեն փաստագրվում։ Լեռնաշխարհի հարավարևմտյան շրջաններում մ.թ.ա. II հազարամյակի սկզբներից հանդես է գալիս տեղական Ծոփք-Մալաթիայի միջին բրոնզիդարյան մշակույթը:

                            Մ. թ. ա. XVI դարի վերջից մ. թ. ա. XIII դարի առաջին կեսն ընկած ժամանակահատվածում հստակ ընդգծվում է վերոհիշյալ մշակույթների խաչասերման և «ժողովրդագրական պայթյունի» հետ զուգորդվող Լճաշեն-Մեծամորյան մշակույթի ծավալման համապատկերը։ Այդ ժամանակաշրջանի գտածոներից կարելի է առանձնացնել ծիսական անոթները, սպիտակ և կարմիր գույներով հարդարված խեցեղենը, բրոնզե դաշույնները, նետասլաքները, մեծաքանակ ուլունքները և այլ նյութեր։
                        </p>
                    </div><br><br>

                    <button class="accordion">Հագուստ</button>
                    <div class="panel">
                        <p>
                            հուշարձանների թիվը լեռնաշխարհի սահմաններում դեռևս չի անցնում 35-ից, որոնք ինչպես բացօթյա կայաններ ու հնավայրեր են, այնպես էլ քարայր կացարաններ ու ժայռածածկեր։ Այժմյան Հայաստանի տարածքում այս փուլի հուշարձաններ կան Ապարանի գոգավորությունում։
                        </p>
                    </div><br><br>

                </div>
            </div>
        </div>

    </section1><br>

    <footer style="background-color:hsl(103, 26%, 56%)">
        <div class="container-fluid">
            <div class="row ">
                <div class=" col-3">
                    <a class="menu2">Աշխատանքային ժամեր</a> <br>
                    <a class="menu2">Հասցե</a> <br>
                    <a class="menu2" href="contact.html">Հեռախոսահամար</a> <br>
                    <a class="menu2" href="contact.html">Էլ․փոստ</a>
                </div>

                <div class=" col-3">
                    <a class="menu2" href="contact.html">Մեր մասին</a> <br>
                    <a class="menu2" href="contact.html">Մուտք</a> <br>
                    <a class="menu2" href="contact.html">Հետադարձ կապ</a>
                </div>

                <div class=" col-sm-3">
                    <a class="menu2" href="contact.html">Կանոններ</a> <br>
                    <a class="menu2" href="contact.html">Ընկերություններ</a> <br>
                    <a class="menu2" href="contact.html">Privecy Policy</a>
                </div>

                <div class=" col-sm-3 logo">

                    <div style="float:right;" class="d-none d-sm-block">
                        <div class="icono">
                            <i class="fab whatts fa-whatsapp "></i>&nbsp;
                            <i class="fab facebook fa-facebook "></i>&nbsp;
                            <i class="fab fa-instagram "></i>
                        </div>

                        <div class="menu2"><strong>Կազմեց:Technerds-2021</strong> </div>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" language="javascript"></script>

</body>
</html>
