<!DOCTYPE html>
<html>
<head>
    <title>Technerds</title>
    <meta charset="utf-8">
    <meta name="author" content="Թիմայի" />
    <meta name="Բնապահպանություն" content="Այստեղ կարող եք ծանոթանալ թափոնների մշակման,տեսակների հետ" />
    <meta name="keywords" content="ապակի,թուղթ,պլաստիկ,էկոլոգիա" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="../Content/CustomStyles/registeration-stlyle.css" rel="stylesheet" type="text/css" />
    <!-- <script src="../Scripts/registeration_script.js" type="text/javascript"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

    <form action="person-profile.html" style="margin-left:20%; margin-right:20%;">

        <h5>Օգտվողի անձնական տվյալներ</h5>
        <br />

        <input type="text" class="input" placeholder="Անուն">
        <div class="line-box">
            <div class="line"></div>
        </div>

        <br>

        <input type="text" class="input" placeholder="Ազգանուն">
        <div class="line-box">
            <div class="line"></div>
        </div>

        <br>

        <input type="text" class="input" placeholder="Հեռախոսահամար">
        <div class="line-box">
            <div class="line"></div>
        </div>

        <br>

        <input type="text" class="input" placeholder="Հասցե">
        <div class="line-box">
            <div class="line"></div>
        </div>

        <br>

        <button type="submit">Հաստատել</button>
    </form>


</body>
</html>