<html lang="en">
<head>
    <title>Technerds</title>
    <meta charset="utf-8">
    <meta name="author" content="Թիմայի">
    <meta name="Բնապահպանություն" content="Այստեղ կարող եք ծանոթանալ թափոնների մշակման,տեսակների հետ">
    <meta name="keywords" content="ապակի,թուղթ,պլաստիկ,էկոլոգիա">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="../Content/CustomStyles/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body>
    <!--collapsible Navbar: Navigate to other pages of web site -->
    <nav class="navbar navbar-expand-md sticky-top">
        <img id="logo" src="../Content/Images/logo.jfif" alt="Էկոլոգիա" style="width:5%">

        <div class="humburger">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!--Navbar menu-->
        <div id="menu-navbar">
            <ul>
                <li>
                    <a href="index.html">Գլխավոր</a>
                </li>
                <li>
                    <a href="companies.html">Ընկերություններ</a>
                </li>
                <li>
                    <a href="#">Նյութեր</a>
                    <span></span>
                    <ul>
                        <li>
                            <a href="books.html">Գրքեր</a>
                        </li>
                        <li>
                            <a href="videos.html">Տեսանյութեր</a>
                        </li>
                        <li>
                            <a href="articles.html">Հոդվածներ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="game.html">Խաղ</a>
                </li>
                <li>
                    <a href="feedback.html">Հետադարձ կապ</a>
                </li>
            </ul>
        </div>

        <div class="search-cl">
            <input type="text" name="Search" placeholder="Փնտրել">
            <a href="#" input type="text" name="Փնտրել" placeholder="Փնտրել" style="background-color: aquamarine;"></a>&nbsp;
            <a href="#" class=" btn border-btn">Մուտք</a>
        </div>

    </nav>

    <br>



    <br>

    <!--Footer of page-->
    <footer style="background-color:hsl(103, 26%, 56%)">
        <div class="container-fluid">
            <div class="row ">
                <div class=" col-3">
                    <a class="menu2">Աշխատանքային ժամեր</a> <br>
                    <a class="menu2">Հասցե</a> <br>
                    <a class="menu2" href="contact.html">Հեռախոսահամար</a> <br>
                    <a class="menu2" href="contact.html">Էլ․փոստ</a>
                </div>

                <div class=" col-3">
                    <a class="menu2" href="contact.html">Մեր մասին</a> <br>
                    <a class="menu2" href="contact.html">Մուտք</a> <br>
                    <a class="menu2" href="contact.html">Հետադարձ կապ</a>
                </div>

                <div class=" col-sm-3">
                    <a class="menu2" href="contact.html">Կանոններ</a> <br>
                    <a class="menu2" href="contact.html">Ընկերություններ</a> <br>
                    <a class="menu2" href="contact.html">Privecy Policy</a>
                </div>

                <div class=" col-sm-3 logo">

                    <div style="float:right;" class="d-none d-sm-block">
                        <div class="icono">
                            <i class="fab whatts fa-whatsapp "></i>&nbsp;
                            <i class="fab facebook fa-facebook "></i>&nbsp;
                            <i class="fab fa-instagram "></i>
                        </div>

                        <div class="menu2"><strong>Կազմեց:Technerds-2021</strong> </div>
                    </div>

                    <div style="clear:both"></div>

                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" language="javascript"></script>



</body>
</html>