body {
}

#logo {
    max-width: 200px;
}

#more {
    display: none;
}

#services button {
    margin: 2px;
}

#services input {
    margin: 5px;
    width: 100%;
}

h5 {
    color: #3523df
}


spam {
    color: #29b43b
}

    spam p {
        color: #151515
    }
















/*#company-info{
    display:flex;
}

    #company-info img{
        margin: 10px;
        max-height:200px;
        max-width:300px;
    }

    #company-info span, h5 {
        font-family: 'Times New Roman';
        margin-left: 30px
    }

    #company-info h5 {
        position:absolute;
        color: #267e05;
    }

    #company-info #services{
        bottom:20px
    }

    .cont {
        padding-left: 35px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #e7ffde;
    }

    .cont company{
        position:absolute;
    }

.boarder-co {
    border: solid 2px #aceb95;
    min-height: 300px;
    margin: 1px;
    background-color: #d3fdc4;
    margin-bottom:100px;
}

    .boarder-co.info-co {
        min-width: 800px;
    }

    .boarder-co.map-co {
        min-width: 470px;
    }


    .boarder-co.map-co img {
        max-width: 450px;
        margin: 5px;
    }*/
