
nav {
    background-color: hsl(103, 26%, 56%);
}

nav {
    height: 60px;
}

    nav a {
        /*color: rgb(15, 14, 24);*/
        color: black;
    }

        nav a:hover {
            /*color: rgb(223, 25, 68);*/
            color: red;
        }

.search-cl {
    position: absolute;
    right: 20px;
}

/*NAVBAR menu lists*/
.menu-area ul {
    list-style: none;
}

.menu-area {
    display: block;
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 50%;
    transform: translate(10%, -50%);
}

    .menu-area > ul > li a{
        text-decoration:none;
        font-weight:bold;
    }

    .menu-area > ul {
        list-style: none;
        padding: 5px;
        margin: 5px;
        display: inline-block;
    }

        .menu-area > ul > li {
            position: relative;
            cursor: pointer;
            float: left;
            font-size: 14px;
            width: auto;
            line-height: 50px;
            margin-left: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }

            .menu-area > ul > li:hover {
                background-color: #96d991;
                border-radius: 5px;
            }

.dropdown {
    position: absolute;
    top: 1%;
    width: 100%;
    left: 0;
    padding: 0;
}

    .dropdown li {
        background-color: #96d991;
        box-shadow: 5px 5px 10px #013709;
        display: none;
    }

        .dropdown li:hover {
            background-color: #96d99f;
        }

.menu-area li:hover > .dropdown li {
    display: block;
}

.humburger {
    display: none;
    position: absolute;
    height: 50px;
    width: 3%;
    margin: 1%;
    border-radius: 5px;
}

    .humburger div {
        border: solid 1px #444;
        background-color: #444;
        box-shadow: 3px 3px 3px #013709;
        border-radius: 30px;
        height: 5px;
        width:30px;
        transform: translate(10%, 0);
        margin-bottom: 6px;
        margin-top:6px
    }


@media only screen and (max-width: 900px) {
    .menu-area {
        display: none;
    }

    .humburger {
        display: block;
    }

    #logo {
        display: none;
    }
}
/*NAVBAR menu lists*/



.hayastan {
    text-align: center;
    margin-top: 15px;
    color: red;
}

#menu {
    text-align: center;
    color: #2c2ffc;
}


.armenia {
    text-align: center;
    color: rgb(53, 35, 223);
}

#contacto {
    text-align: center;
    background-color: rgb(167, 172, 250);
}



.accordion {
    background-color: rgb(218, 218, 221);
    color: #2c2ffc;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: hsl(318, 87%, 79%);
    }



.panel {
    padding: 0 18px;
    background-color: rgb(167, 172, 250);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\002B';
    color: #2c2ffc;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}


form {
    border: 2px solid #060607;
    width: 50%;
    margin-left: 25%;
    box-sizing: border-box;
    padding: 10px;
    ;
}

.left1, right1 {
    float: left;
    width: 15%;
}

input.text {
    width: 100px;
}

.rompedor {
    clear: both;
    height: 10px;
}

.left2, right2 {
    float: left;
    width: 35%;
}

h2 {
    color: #2c2ffc;
    margin: 0px;
}

h3 {
    color: rgb(255, 153, 0);
    text-align: center;
}

.prod {
    float: left;
}

footer {
    height: 100px;
}

.menu2 {
    color: #060607;
}

.content {
    height: 450px;
}

iframe {
    width: 90%;
    height: 90%;
}
