nav {
    position: absolute;
    background-color: hsl(103, 26%, 56%);
    height: 50px;
}

#menu-navbar {
    height: 50px;
}

    #menu-navbar > ul {
        margin: 0px;
        padding: 0px;
        height: 100%;
    }

        #menu-navbar > ul > li {
            list-style-type: none;
            display: inline-block;
            width: 140px;
            height: 100%;
            text-align: center;
            position: relative;
        }

            #menu-navbar > ul > li span:after {
                content: "\25BC";
                position: absolute;
                left: 75%;
                top: 18px;
                font-size: 11px;
            }

            #menu-navbar > ul > li:hover span:after {
                content: "\25B2";
                position: absolute;
                left: 75%;
                top: 18px;
                font-size: 11px;
            }

            #menu-navbar > ul > li > a {
                color: black;
                text-decoration: none;
                display: inline-block;
                font-weight: 500;
                width: 100%;
                height: 100%;
                font-size: 14px;
                line-height: 50px;
            }

            #menu-navbar > ul > li:hover > a {
                background-color: lightgreen;
            }

            #menu-navbar > ul > li > ul {
                display: none;
                position: absolute;
                position: absolute;
                width: 200px;
                margin: 0px;
                padding: 0px;
                background-color: lightgreen;
            }

            #menu-navbar > ul > li:hover > ul {
                display: block;
            }

                #menu-navbar > ul > li:hover > ul > li {
                    list-style-type: none;
                    text-align: left;
                    display: block;
                }

                    #menu-navbar > ul > li:hover > ul > li:hover {
                        background-color: #82ac72;
                    }

                    #menu-navbar > ul > li:hover > ul > li > a {
                        display: inline-block;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 14px;
                        width: 100%;
                        height: 100%;
                        color: black;
                        padding: 10px;
                    }


.search-cl {
    position: absolute;
    right: 20px;
}

/*NAVBAR menu lists*/


.humburger {
    display: none;
    position: absolute;
    height: 50px;
    width: 3%;
    margin: 1%;
    border-radius: 5px;
}

    .humburger div {
        border: solid 1px #444;
        background-color: #fff;
        box-shadow: 3px 3px 3px #013709;
        border-radius: 30px;
        height: 5px;
        width: 30px;
        transform: translate(10%, 0);
        margin-bottom: 6px;
        margin-top: 6px
    }

    .humburger:hover div {
        box-shadow: 5px 5px 5px #013709;
        height: 6px;
        width: 34px;
    }


@media only screen and (max-width: 900px) {
    #menu-navbar {
        display: none;
    }

    .humburger {
        display: block;
    }

    #logo {
        display: none;
    }
}

NAVBAR menu lists



.hayastan {
    text-align: center;
    margin-top: 15px;
    color: red;
}

#menu {
    text-align: center;
    color: #2c2ffc;
}


.armenia {
    text-align: center;
    color: rgb(53, 35, 223);
}

#contacto {
    text-align: center;
    background-color: rgb(167, 172, 250);
}



.accordion {
    background-color: rgb(218, 218, 221);
    color: #2c2ffc;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: hsl(318, 87%, 79%);
    }



.panel {
    padding: 0 18px;
    background-color: rgb(167, 172, 250);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\002B';
    color: #2c2ffc;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}


form {
    border: 2px solid #060607;
    width: 50%;
    margin-left: 25%;
    box-sizing: border-box;
    padding: 10px;
    ;
}

.left1, right1 {
    float: left;
    width: 15%;
}

input.text {
    width: 100px;
}

.rompedor {
    clear: both;
    height: 10px;
}

.left2, right2 {
    float: left;
    width: 35%;
}

h2 {
    color: #2c2ffc;
    margin: 0px;
}

h3 {
    color: rgb(255, 153, 0);
    text-align: center;
}

.prod {
    float: left;
}

footer {
    height: 100px;
}

.menu2 {
    color: #060607;
}

.content {
    height: 450px;
}

iframe {
    width: 90%;
    height: 90%;
}
